@media(max-width:750px){
    #menu-icon{
        display: block;
    }
    .nav-menu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        display: flex;
        flex-direction: column;
        background-color: #313030;
        padding: 120px 30px;
        align-items: center;
        transition: all .42s;
    }
    .nav-menu a{
        display: block;
        margin: 10px 0;
    }
    .nav-menu.open{
        right: 0;
    }
}
/*=================================MOBILE===================*/
@media(max-width:415px){

    .main{
        grid-template-columns: repeat(1, 1fr);
    }
    .main h1{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .main p{
        width: 300px;
    }
    .about-img{
        width: 320px;
    }
    .about-img img{
        width: inherit;
    }
    .about-text{
        width: 320px;
        
    }
    .overlay{
        top:-.05px;
    }
    .client-comment{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: auto;
    }
}
@media(max-width:375px){
    .about-img{
        width: 300px;
    }
    .about-img img{
        width: inherit;
    }
    .about-text{
        width: 300px;
        
    }
    .overlay{
        top:-1px;
    }
    .client-comment{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 299px;
    }

}
@media(max-width:320px){
  
    .main{
        grid-template-columns: repeat(1, 1fr);
    }
    .main h1{
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .main p{
        width: 250px;
    }
    .main-img img{
        width: 170px;
    }
    .main .btnShop{
        padding: 5px;
    }
    .about-img{
        width: 250px;
    }
    .about-img img{
        width: inherit;
    }
    .about-text{
        width: 250px;
        
    }
    .overlay{
        top:0px;
        left: 100px;
    }
    .client-comment{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 250px;
    }
    .row-img{
        width: 250px;
    }


    .card{
        width: 250px;
    }
    .products-text h5{
        top: -170px;
        left: -30px;
    }
    .price{
        font-size: .725rem;
    }
    .card img{
        width: 100px;
    }
    #footer{
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}